<main class="container">
  <img src="/assets/background.png" aria-hidden class="background" />
  <div class="title-wrapper">
    <h1 class="title">Trupi-stresser</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="DOS()">
    <div class="textarea-wrapper">
      <textarea
        formControlName="ipv4Address"
        placeholder="JAKIE KURWA IP?"
        cols="15"
        rows="3"
      ></textarea>
      <textarea
        formControlName="port"
        placeholder="WKLEJAJ PORT BRATKU"
        cols="20"
        rows="3"
        [required]="false"
      ></textarea>
    </div>
    <div class="range-wrapper">
      <div class="range-inner-wrapper">
        <div class="range-label left">1 mb</div>
        <div class="range-input" (input)="updateTitle()">
          <input
            type="range"
            min="1"
            max="2000"
            value="1000"
            formControlName="dataSize"
          />
        </div>
        <div class="range-label right">2000 mb</div>
      </div>
    </div>
    <div class="dos-button-container">
      <button class="dos-button">{{buttonLabel}}</button>
    </div>
  </form>
</main>
