@font-face {
  font-family: 'title-font';
    src: url('../assets/title-font.woff2') format('woff2'),
        url('../assets/title-font.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.background {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: stretch;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.textarea-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: calc(23vh + 15vh + 15vh);
  left: 41vw;
}

.textarea-wrapper textarea {
  overflow-y: scroll;
  text-wrap: wrap;
  resize: none;
  margin-bottom: 2vh;
  font-size: 1.25em;
}

.title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  margin: 4vh 0;
  padding: 0;
  font-family: title-font;
  color: white;
  text-shadow: 0px 0px 20px limegreen;
  font-size: 10vw;
}

.range-wrapper {
  position: absolute;
  bottom: calc(15vh + 15vh);
  left: 25vw;
}

.range-inner-wrapper {
  position: relative;
  display: flex;
}

.range-inner-wrapper .left {
  position: absolute;
  top: 5%;
  left: -50px;
}

.range-inner-wrapper .right {
  position: absolute;
  top: 5%;
  right: -170px;
}

.range-label {
  background-color: whitesmoke;
  width: 10em;
  padding: 0.25em;
  z-index: 1;
  font-size: 1.05em;
  pointer-events: none;
}

.range-input {
  background-color: whitesmoke;
  z-index: 2;
  padding: 2vh 0;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.range-input input {
  width: 50vw;
  z-index: inherit;
  pointer-events: auto;
}

.dos-button {
  padding: 5vh 2vw;
  cursor: pointer;
}

.dos-button-container {
  position: absolute;
  bottom: 15vh;
  left: 43vw;
}